<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space pong</title>
    <link rel="stylesheet" href="/mainMenu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="menu-box">
        <button class="menu-button"> ONE PLAYER</button>
        <button class="menu-button" onclick="window.location.href='/game'"">TWO PLAYER</button>
        <button class="menu-button music" onclick="playAudio()">🎵</button>
    </div>

    <audio id="gameMusic" loop>
        <source src="http://localhost:3000/audio.mp3" type="audio/mp3">
    </audio>


    <script>
        function playAudio() {
            const audio = document.getElementById('gameMusic');
            audio.play();
        }
    </script>
    
</body>
</html>